node_modules
dist
.DS_Store
*.local
*.tsbuildinfo
dist-standalone
dist-app

# Android / Capacitor
android/.gradle
android/build
android/app/build
android/local.properties
android/.idea
android/capacitor-cordova-android-plugins
*.apk
shot*.mjs
